$main-color: #5171ff;
$blue-text: #5171ff;
$greyed-out-chart-content: #bfbfbf;
$inactive-button-text: rgba(191, 191, 191, 0.9);
$progress-circle-light-blue-bg: #dee4ff;
$light-grey-text-profile-cards: rgba(119, 119, 119, 0.9);
$light-grey-text-body: #777777;
$dark-text-80: rgba(51, 51, 51, 0.8);
$link-text: #5171ff;
$divider-grey: #929292;
$back-button-light-bg: #dee4ff;
$dark-text: #333333;
$progress-circle-bold-blue: #5171ff;
$progress-circle-bold-blue-outline: #5171ff;
$active-line: #5171ff;
$inactive-line: #dee4ff;
$inactive-text-light-blue: #dee4ff;
$profile-cards-role-extra-light-grey: #a5a5a5;
$dark-divider-line: #333333;
$upload-box-dashed-outline: #a5a5a5;
$incomplete-status-line: #dee4ff;
$inactive-button-bg: #e8e8e8;
$inactive-progress-text-light-blue: #dee4ff;
$check-mark-white: #ffffff;
$white-bg: #ffffff;
$completed-status-line: #5171ff;

// Customize Bootstrap Themes
$theme-colors: ();

// Merge Bootstrap Source Code
@import "~bootstrap/scss/bootstrap";

// Import font faces

// App Styles
// ...
