// Style Guide
$main-color: #5171ff;
$blue-text: #5171ff;
$greyed-out-chart-content: #bfbfbf;
$inactive-button-text: rgba(191, 191, 191, 0.9);
$progress-circle-light-blue-bg: #dee4ff;
$light-grey-text-profile-cards: rgba(119, 119, 119, 0.9);
$light-grey-text-body: #777777;
$dark-text-80: rgba(51, 51, 51, 0.8);
$link-text: #5171ff;
$divider-grey: #929292;
$back-button-light-bg: #dee4ff;
$dark-text: #333333;
$progress-circle-bold-blue: #5171ff;
$progress-circle-bold-blue-outline: #5171ff;
$active-line: #5171ff;
$inactive-line: #dee4ff;
$inactive-text-light-blue: #dee4ff;
$profile-cards-role-extra-light-grey: #a5a5a5;
$dark-divider-line: #333333;
$upload-box-dashed-outline: #a5a5a5;
$incomplete-status-line: #dee4ff;
$inactive-button-bg: #e8e8e8;
$inactive-progress-text-light-blue: #dee4ff;
$check-mark-white: #ffffff;
$white-bg: #ffffff;
$completed-status-line: #5171ff;
$office-green: #008000;
$delete-red: #f86d70;

// Import font faces
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

// App Styles
body {
  font-family: "Poppins", sans-serif;
}

// Customize Toasts
.Toastify__toast {
  border-radius: 5px;
  align-items: center;
  &-body {
    margin: 0;
    margin-left: 1rem;
  }
  color: $dark-text;
  box-shadow: 0 5px 7px rgba(#000, 0.15);
}
.Toastify__toast--rtl {
}
.Toastify__toast--dark {
}
.Toastify__toast--default {
}
.Toastify__toast--info {
}
.Toastify__toast--success {
}
.Toastify__toast--warning {
}
.Toastify__toast--error {
}
