.main-feature{
   padding-top: 4rem;
   padding-bottom: 4rem;
    position: relative;
    background-color:white;
}

.main-feature .text-box h3{
    color: black;
    font-weight: 300;
    font-size: 1.5rem;
}

@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
.feature-section{
    font-family: Lora;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 3;
    margin-top: 5rem;
}

.feature-section h2{
    font-size: 1.5rem;
    text-align: center;
}