@import "../../Custom.scss";

.employee-card {
  width: 12rem;
  padding: 0.8rem 0.8rem;
  background-color: #fff;
  position: absolute;
  top: 7rem;
  right: 2rem;
  z-index: 10;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(#000, 0.2);
  transform: translateY(-500px);
  opacity: 0;
  transition: transform, opacity, 0.3s ease;

  &-show {
    transform: translateY(0);
    opacity: 1;
  }

  .employee-card-close {
    padding: 0 0.4rem;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    color: lighten($dark-text, 45%);
    transition: transform 0.2s ease;

    i {
      font-size: 0.8rem;
    }

    &:hover {
      transform: scale(1.1);
    }
  }

  .selected-employee {
    transition: opacity 0.3s ease-out;

    h6 {
      font-size: 1rem;
      color: $dark-text;

      display: block;
      text-align: center;
      padding: 0 0 0.2rem 0;
      margin: 0 auto 1rem auto;
      font-weight: bold;
    }
  }

  .name {
    font-size: 0.7rem;
    margin-bottom: 0.2rem;
    text-align: center;
    font-weight: 500;
    padding-bottom: 0.3rem;
    border-bottom: 1px solid lighten($main-color, 0.15);
    margin-bottom: 0.5rem;
  }

  .action-list {
    .action-item {
      padding: 0;
      font-size: 0.7rem;
      text-align: center;
      text-align: left;
      padding-left: 1rem;
      position: relative;
      height: 2rem;
      display: block;

      &:focus {
        outline: none;
      }

      &.disabled-item {
        cursor: default;
        background-color: initial;
        color: lighten($divider-grey, 15%);
      }
    }
  }
}
