@import "../../Custom.scss";

.action {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
  height: 100%;
  min-height: 6rem;

  %btn {
    transition: translateY, box-shadow, 0.2s ease;

    &:hover {
      transform: translateY(-1px);
      box-shadow: 0 5px 10px 0 rgba($greyed-out-chart-content, 0.8);
    }

    &:active {
      transform: translateY(1px);
      box-shadow: 0 2px 3px 0 rgba(#000, 0.4);
    }
  }

  button {
    @extend %btn;
    width: 8rem;
    height: 2rem;
    border-radius: 93.3px;
    box-shadow: 0 2px 4.7px 0 $greyed-out-chart-content;
    background-color: $main-color;
    border: none;
    outline: none;
    font-size: 0.8rem;
    font-weight: bold;
    color: $check-mark-white;
    margin: 0.3rem 1rem;

    &:focus {
      outline: none;
    }

    &.inactive-btn {
      background-color: $inactive-button-bg;
      color: $inactive-button-text;
    }
  }
}
