@import "../../App.scss";

.chart-control {
  box-sizing: border-box;
  position: relative;
  margin: 10px;
  padding: 1.5rem;
  border-radius: 5px;
  border: 1px solid rgba($light-grey-text-body, 0.15);
  box-shadow: 0 3px 5px rgba($light-grey-text-body, 0.2);
  min-height: 10rem;
}
