@import "../../Custom.scss";

.chart-control-modal {
  // !important to overwrite bootstrap default modal style here
  .modal-header {
    padding: 0.5rem 1rem 0.2rem !important;
    border-bottom: 2px solid $main-color !important;

    .modal-title {
      font-size: 1rem;
      font-weight: 500;
      color: $dark-text;
    }
  }

  .modal-content {
    border-radius: 10px !important;
    border: none;
  }

  .close {
    outline: none;
    border: none;

    &:focus {
      outline: none;
    }
  }

  .modal-body {
    padding: 0.7rem 1rem !important;

    form {
      .form-group {
        margin-bottom: 0.5rem;
      }
      .form-group:last-child {
        margin-bottom: 0;
      }

      .modal-input {
        border-radius: 25px;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        height: 1.5rem;
        font-size: 0.7rem;
      }
    }
  }

  .modal-footer {
    padding: 0.2rem 1rem 0.5rem !important;

    %btn {
      transition: translateY, box-shadow, 0.2s ease;
      box-shadow: 0 2px 4.7px 0 rgba($greyed-out-chart-content, 0.7);

      &:hover {
        transform: translateY(-1px);
        box-shadow: 0 5px 10px 0 rgba($greyed-out-chart-content, 0.5);
      }

      &:active {
        transform: translateY(1px);
        box-shadow: 0 2px 3px 0 rgba(#000, 0.4);
      }
    }

    .confirm-btn {
      @extend %btn;
      width: 4.5rem;
      height: 1.4rem;
      border-radius: 93.3px;
      background-color: $main-color;
      border: none;
      outline: none;
      font-size: 0.8rem;
      font-weight: 500;
      color: $check-mark-white;
      margin-left: 0.5rem;

      &:focus {
        outline: none;
      }
    }

    .close-btn {
      @extend %btn;
      width: 4.5rem;
      height: 1.4rem;
      border-radius: 93.3px;
      background-color: $progress-circle-light-blue-bg;
      font-size: 0.8rem;
      font-weight: 500;
      color: $main-color;
      outline: none;
      border: none;

      &:focus {
        outline: none;
      }
    }
  }
}
