@import "../../App.scss";

.oc-node {
  width: 12.4rem;
  // height: 12.4rem;
  border-radius: 4.8px;
  box-shadow: 0 1.6px 6px 0 rgba(47, 83, 151, 0.2);
  background-color: $check-mark-white;
  margin: 1rem 1rem;

  .oc-node-inner {
    display: flex;
    flex-direction: column;
    align-items: center;

    .profile-card {
      width: 4rem;
      height: 4rem;
      border-radius: 5rem;
      border: solid 1.5px $main-color;
      background-color: $check-mark-white;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 1.6rem;
      margin-bottom: 0.8rem;

      .far {
        font-size: 1.2rem;
        color: $main-color;
      }
    }

    .name {
      font-size: 0.875rem;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: $dark-text;
      margin-bottom: 0.4rem;
    }

    .email {
      font-size: 0.625rem;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: $light-grey-text-profile-cards;
      margin-bottom: 0.4rem;
    }

    hr {
      width: 9.4rem;
      border-top: 1px solid $dark-text;
      margin: 0.4rem 0;
    }

    .manager {
      font-size: 0.5rem;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: $dark-text;
      margin-bottom: 0.2rem;
    }

    .manager-name {
      font-size: 0.4rem;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: $light-grey-text-profile-cards;
      margin-bottom: 1.6rem;
    }
  }
}
