@import "../../Custom.scss";

.orgchart.myChart .oc-node .oc-inner {
  width: 12rem;
  border-radius: 4.8px;
  box-shadow: 0 1.6px 6px 0 rgba(47, 83, 151, 0.2);
  border: 1px solid rgba(47, 83, 151, 0.2);
  background-color: $check-mark-white;
  padding: 1rem 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  .more-options-dropdown {
    position: absolute;
    right: 0.3rem;
    top: 0.3rem;

    .more-options-dropdown-btn {
      // background-color: red;
      height: 1.5rem;
      width: 1.5rem;
      padding: 0;
      border-radius: 50px;
      cursor: pointer;
      border: 1px solid rgba(#000, 0.1);
      background-color: #fff !important;
      color: $main-color;
      font-size: 0.8rem;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0 1px 3px rgba(#000, 0.1);
      opacity: 0;
      transition: opacity, transform, 0.2s ease-out;

      &:hover {
        transform: scale(1.1);
      }

      &::after {
        display: none;
      }
    }

    .more-options-dropdown-menu {
      top: 0.2rem !important;
      padding: 0.5rem;
      border-radius: 0;
      border: 1px solid rgba(#000, 0.05);
      box-shadow: 0 1px 3px rgba(#000, 0.1);

      button {
        padding: 0.3rem 0;
        font-size: 0.8rem;
        color: $dark-text;
        text-align: center;
        transition: background-color, 0.2s ease-out;

        &:hover {
          background-color: lighten($greyed-out-chart-content, 20%);
        }

        &:focus,
        &:active {
          background-color: inherit;
          outline: none;
          color: inherit;
        }
      }
    }
  }

  &:hover {
    .more-options-dropdown-btn {
      opacity: 1;
    }
  }

  .onclick-add {
    z-index: 1;
    position: absolute;
    background-color: lighten($main-color, 5%);
    color: #fff;
    cursor: pointer;
    transition: transform 0.2s ease-out;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      transform: scale(1.1) translateY(-1px);
    }

    &.add-top {
      top: -1.3rem;
      z-index: 1;
      // background-color: red;
      width: 2.5rem;
      height: 1.3rem;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }

    &.add-bottom {
      bottom: -1rem;
      bottom: -1.3rem;
      width: 2.5rem;
      height: 1.3rem;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }

    &.add-left {
      left: -1.3rem;
      height: 2.5rem;
      width: 1.3rem;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }

    &.add-right {
      right: -1.3rem;
      height: 2.5rem;
      width: 1.3rem;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }

  .user {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 4.5rem;
    border: solid 1.5px $main-color;
    background-color: $check-mark-white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.5rem;

    .far {
      color: $main-color;
      font-size: 1.2rem;
      width: 2rem;
      height: 2rem;
    }
  }

  .name {
    font-size: 0.8rem;
    font-weight: bold;
    color: $dark-text;
    margin-bottom: 0.5rem;
  }

  .title {
    font-size: 0.8rem;
    color: $dark-text;
    margin-bottom: 0.4rem;
  }

  .email {
    font-size: 0.625rem;
    color: $light-grey-text-profile-cards;
    margin-bottom: 0.4rem;
  }

  hr {
    width: 7rem;
    height: 1px;
    background-color: $dark-text;
    margin: 0;
    margin-bottom: 0.4rem;
  }

  .manager {
    font-size: 0.5rem;
    font-weight: bold;
    color: $dark-text;
    margin-bottom: 0.25rem;
  }

  .manager-name {
    font-size: 0.4rem;
    color: $light-grey-text-profile-cards;
  }
}

// Disable the yellow border on selected node
.orgchart ul li .oc-node,
.orgchart ul li .oc-node:hover {
  background-color: transparent !important;
}
