@import "../../App.scss";

// Custom Zoom Control
.zoom {
  position: absolute;
  right: 3rem;
  top: 11.3rem;
  z-index: 1;
  padding: 0.5rem 1rem;
  background-color: lighten($inactive-button-bg, 15%);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(#000, 0.15);
}

.zoom-btn {
  background-color: lighten($main-color, 3%);
  color: $white;
  border: none;
  outline: none;

  transition: transform, background-color, 0.2s;
  border-radius: 3px;
  height: 2rem;
  width: 2rem;

  &:not(:first-child) {
    margin-left: 0.5rem;
  }

  &:focus {
    outline: none;
  }

  &:hover {
    transform: scale(1.07);
    background-color: $main-color;
  }
}
