@import "../../App.scss";

.showcase {
  .container {
    padding-top: 5rem;

    h2 {
      font-size: 1.88rem;
      font-weight: bold;
      margin-bottom: 3rem;
    }

    img {
      width: 75%;
      display: block;
      margin: 0 auto;
      box-shadow: 0 3px 5px rgba(#000, 0.3);
      border-radius: 5px;
    }

    .greyed-out {
      color: #8f8f8f;
      font-size: 1.13rem;
      width: 70%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 5rem;
    }
  }
}
