@import "../../App.scss";

.control-panel {
  position: absolute;
  z-index: 1;
  background-color: lighten($profile-cards-role-extra-light-grey, 45%);
  width: 35rem;
  left: 0;
  height: calc(100% - 9.4rem);
  box-shadow: 2px 2px 6px 0 rgba(47, 83, 151, 0.2);
  transition: margin, box-shadow, 0.3s ease-out;
  padding: 0 2rem;

  .toggler-btn {
    position: absolute;
    right: 0.8rem;
    top: 0.8rem;
    cursor: pointer;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lighten($divider-grey, 33%);
    transition: background, scale, 0.2s ease-out;

    &:hover {
      background-color: lighten($divider-grey, 28%);
      transform: scale(1.05);
    }

    .fas {
      font-size: 1.5rem;
      color: $check-mark-white;
      margin-left: -2px;
    }
  }

  &.side-drawer-close {
    margin-left: -35rem;
    box-shadow: 0 0 0 0 rgba(47, 83, 151, 0);
  }
}
