@import "../../App.scss";

.navbar {
  padding-top: 1rem !important;
  background-color: transparent;
  height: auto;
  transition: background-color 0.2s ease;

  &.navbar-light {
    background-color: $white;
    box-shadow: 0 2px 3px rgba(#000, 0.15);
  }

  .container {
    .navbar-brand {
      display: flex;
      justify-content: center;
      align-items: center;
      h3 {
        display: inline;
        font-size: 1.375rem;
        font-weight: 700;
        margin-left: 1rem;
      }
    }

    .nav-link {
      font-weight: 900;
      font-size: 0.85rem;
      text-transform: uppercase;
      color: $white;
      margin-left: 2.5rem;
    }
  }
}
