@import "../../Custom.scss";

.navbar {
  padding-top: 1rem !important;
  background-color: transparent;
  height: auto;
  transition: background-color, color, 0.3s ease;

  &.navbar-light {
    background-color: #fff;
    box-shadow: 0 2px 3px rgba(#000, 0.15);

    .container {
      .my-navlink {
        color: $dark-text;
      }
    }
  }

  .container {
    .navbar-brand {
      display: flex;
      justify-content: center;
      align-items: center;

      h3 {
        display: inline;
        font-size: 1.375rem;
        font-weight: 700;
        margin-left: 0.8rem;
      }
    }

    .navbar-toggler {
      outline: none;
      border: none;
      position: absolute;
      right: 0;
      top: 0;
      transition: transform 0.2s ease;

      &:hover {
        transform: scale(1.03);
      }

      span {
        font-size: 1.8rem;
      }
    }

    .my-navlink {
      font-weight: 700;
      font-size: 0.85rem;
      text-transform: uppercase;
      color: #fff;
      margin-left: 2.5rem;
      text-decoration: none;
      transition: background-color, color, 0.3s ease;
      padding: 0.1rem 0.3rem;
      border-radius: 5px;

      &:hover {
        background-color: #fff;
        color: #b347ef;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    .container {
      position: relative;
      .my-navlink {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        display: block;
        text-align: center;
        margin-left: 0;
        color: #9941f1;

        &:hover {
          color: #fff;
          background-color: #9941f1;
        }
      }

      .navbar-collapse {
        margin: 0 4.5rem;
        background-color: #fff;
        padding: 1rem;
        border-radius: 10px;
      }
    }
  }
}
