@import "../../App.scss";

.topbar {
  height: 9.4rem;
  background-color: $main-color;
  display: flex;
  align-items: flex-end;
  padding: 1rem 2.4rem;

  .toggler-btn {
    position: absolute;
    top: 1rem;
    left: 1rem;
    cursor: pointer;

    .fas {
      font-size: 1.5rem;
      color: $check-mark-white;
    }
  }

  .heading {
    font-size: 2.75rem;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.15;
    letter-spacing: 1px;
    color: $check-mark-white;
  }
}
