@import "../../App.scss";

.topbar {
  height: 9.4rem;
  background-color: $main-color;
  display: flex;
  align-items: flex-end;
  padding: 1rem 2.4rem;

  .toggler-btn {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    cursor: pointer;
    height: 2.8rem;
    width: 2.8rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lighten($main-color, 2%);
    transition: background, scale, 0.2s ease-out;

    &.opened {
      .fas {
        transform: rotate(180deg);
      }
    }

    &:hover {
      transform: scale(1.05);
      background-color: lighten($main-color, 5%);
    }

    .fas {
      font-size: 1.5rem;
      color: $check-mark-white;
      transition: transform 0.2s ease-out;
      margin-left: -2.5px;
    }
  }

  .heading {
    font-size: 2.75rem;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.15;
    letter-spacing: 1px;
    color: $check-mark-white;
  }
}
