@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
.save-changes-h1{
    font-family: "Poppins";
    font-weight: bold;
    font-size: 24px;
    margin: auto;
    width:50%;
}