@import "../../Custom.scss";

.collapse-warning {
  position: absolute;
  top: 7rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  background-color: white;
  padding: 0.3rem 0.8rem;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(#000, 0.08);
  transition: opacity, 0.25s ease-out;
  opacity: 0;

  h3 {
    font-size: 0.8rem;
    color: lighten($main-color, 5%);
    margin: 0;

    span {
      margin-left: 5px;
      font-weight: 500;
      color: lighten($dark-text, 10%);
    }

    button {
      margin-left: 0.4rem;
      display: inline-block;
      border: none;
      border-radius: 5rem;
      color: #fff;
      background-color: $main-color;
      // font-weight: 500;
      font-size: 0.7rem;
      padding: 2px 9px;
      box-shadow: 0 2px 3px rgba(#000, 0.15);
      transition: transform 0.1s ease;

      &:hover {
        transform: scale(1.03);
        box-shadow: 0 3px 5px rgba(#000, 0.15);
      }

      &:focus {
        outline: none;
      }
    }
  }

  &.show {
    opacity: 1;
  }
}
